*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:visited {
  color: cornflowerblue;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 480px;
  margin: auto;
  padding-bottom: 4em;
  background-color: #f0f0f0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
}

input:focus,
button:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 2px cornflowerblue;
}

.btn-camera:focus {
  box-shadow: none
}

input[type=radio]:focus {
  box-shadow: none
}

body.dark {
  background-color: #222;
  color: #fff;
}

.hidden {
  display: none;
}

/* App */
nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  box-shadow: 0 5px 10px 1px rgba(180, 180, 180, 0.2);
  background: #fff;
  color: #222;
}

nav.dark {
  box-shadow: 0 5px 10px 1px rgba(50, 50, 50, 0.2);
  background-color: #333;
  color: #fff;
}

nav button {
  cursor: pointer;
  flex: 1;
  padding: 1em;
  border: none;
  text-align: center;
  background-color: inherit;
  color: inherit;
}

nav button:focus {
  box-shadow: none;
}

nav button.active {
  font-weight: bold;
  box-shadow: 0 -3px 0px -1px cornflowerblue;
}

main {
  min-height: calc(100vh - 3.5em);
}


@media screen and (min-width: 550px) {
  nav {
    left: 20vw;
    right: 20vw;
    width: calc(100vw - 40vw);
  }
}